@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Merriweather&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    align-items: center;
}

#banner{
    
    text-align: center;
    height: 550px;
    color: white;
}

.new-year{
    padding-top: 150px;
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%), url(./Images/Banner-Image.png);
    height: 550px;
    background-repeat: no-repeat;
    font-size: 50px;
}

#holiday{
    margin-top: 120px;
    text-align: center;
}

#holiday h1{
    color: #FF0000;
    font-size: 88px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

#holiday p{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}

#holiday h3{
    color: #070211;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word
}

#holiday img{
    height: 500px;
    width: 800px;
}

.join-now{
    display: flex;
    text-align: center;
    background-image: url(./Images/Vectorrr.png);
    background-position: center;
    margin-top: 120px;
    padding: 30px;
}

.welcome{
    text-align: left;
    padding-top:100px;
}

.welcome h1{
    color: white;
    font-size: 64px;
    font-family: Merriweather;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    word-wrap: break-word
}

.welcome p{
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word
}

.join-now img{
    max-width:320px;
    max-height: 465px;
}

.join-btn{
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    background-color: none;
}

.information{
    text-align: center;
    margin-top: 120px;
    font-size: 32px;
    font-family: Inter;
    font-weight: 600;
    text-transform: capitalize;
    line-height: 56px;
    color: #070211;
    background-color: rgb(229, 191, 197);
    padding: 20px;
}

.text{
    color: #FF0000;
}

.joining-btn{
    color: white;
    font-size: 20px;
    font-family: Inter;
    font-weight: 700;
    text-transform: uppercase;
    background: #FF0000;
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.great-offers{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.best-offer{
    text-align: left;
    padding: 20px;
    width: 400px;
    margin-top: 20px;
}

.best-offer h5{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    margin-top: 50px;
}

.best-offer h4{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
}

.best-offer p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word
}


.best-offer .best-offer-img img{
    width: 100px;
    height: 100px;
    border-radius:999px;
    border: 15px #FF0000 solid;
}

.wish-img{
    text-align: left;
    padding: 20px,20px,20px,0px;
    margin-top: 60px;
}

.great-offers .wish-img *{
    margin-bottom: 10px;
}

.great-offers .wish-img h6{
    color: #FF0000;
    font-size: 48px;
    font-family: Inter;
    font-weight: 700;
}

.great-offers .wish-img p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word
}

#holidays-sale{
    text-align: center;
    margin-top: 100px;
}
#holidays-sale h6{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;  
}

#holidays-sale h1{
    font-size: 72px;
    font-family: Merriweather;
    font-weight: 900;
    color: #070211;
}

#holidays-sale .holidays{
    color: #FF0000;
}

#holidays-sale p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 500;
    line-height: 32px;
    word-wrap: break-word;
}

.image-section{
    margin-top: 100px;
}

.image-section .rectangle1 img{
    vertical-align:text-bottom;
    margin-left:800px;
    display: flex;
    width: 400px;
    height: 400px;
}

.image-section .rectangle1 .img1{
    margin-top: 500px;
}

.image-section .rectangle2 img{
    height: 229px;
    background: #FF0000; border-top-left-radius: 16px; border-top-right-radius: 16px; border-bottom-right-radius: 16px;
}

.our-portfolio{
    margin-top: 100px;
}

.best-gifts{
    text-align: left;
    padding-left: 20px;
}

.best-gifts *{
    margin-bottom: 10px;
}

.best-gifts h6{
    color: #FF0000;
    font-size: 24px;
    font-family: Inter;
    font-weight: 500;
    word-wrap: break-word
}

.best-gifts h1{
    color: #070211; 
    font-size: 48px; 
    font-family: Merriweather; font-weight: 900; text-transform: capitalize; word-wrap: break-word;
    width: 560px;
    height: 60px;
}

.best-gifts p{
    width: 100%; 
    color: rgba(7, 2, 17, 0.60); 
    font-size: 20px; 
    font-family: Inter;
    font-weight: 400; 
    line-height: 32px; 
    word-wrap: break-word;
    max-width: 850px;
}

.gifts-images{
    margin-left: 20px;
    margin-right: 20px;
}

.best-gifts-one{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 5px;
}

.best-gifts-two{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    gap: 5px;
}

.subscribe{
    margin-top: 100px;
    background-color: rgb(255, 248, 240);
    padding: 20px;
}

.email-logo{
    text-align: center;
}

.email-logo *{
    margin-bottom: 5px;
}

.email-logo img{
    width: 80px;
    height: 80px;
}

.email-logo h1{
    color: #070211;
    font-size: 48px;
    font-family: Merriweather;
    font-weight: 900;
    text-transform: capitalize;
    word-wrap: break-word;
}

.email-logo p{
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-family: Inter;
    font-weight: 400;
    line-height: 32px;
    word-wrap: break-word;
    padding: 30px;
}

#newsletter .subscribe form{
    max-width: 400px;
    margin-left: 400px;
    display: flex;
    
}

#newsletter .subscribe form input{
    flex-grow: 1;
    border: none;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding: 10px;
    color: rgba(7, 2, 17, 0.30);
    font-size: 18px;
    font-family: Inter;
    font-weight: 400;
    outline: none;
}

#newsletter .subscribe form button{
    background: #FF0000;  
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size:18px ;
    width: 200px;
    border: none;
}

#newsletter .subscribe form button:hover{
    cursor: pointer;
}

.footer-container{
    background: #070211;
    color: white;
    font-size: 24px;
}

.footer-container .footer-main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-container .footer-main *{
    margin-bottom: 5px;
}

.footer-container .footer-main .contact .sub-contact{
   display: flex;
   justify-content: space-between;
   gap: 10px;
   text-align: left;
}
